<app-admin-navbar></app-admin-navbar>
<div *ngIf="need">

    <h2>{{need.name | uppercase}} Details</h2>
    <div>
      <label for="need-name">Name: </label>
      <input id="need-name" [(ngModel)]="need.name" placeholder="name">
    </div>
    <div>
        <label for="need-cost">Cost: $</label>
        <input id="need-cost" [(ngModel)]="need.cost" placeholder="cost">
    </div>
    <div>
        <label for="need-quantity">Quantity: </label>
        <input id="need-quantity" [(ngModel)]="need.quantity" placeholder="quantity">
    </div>
    <div>
        <label for="need-type">Type: </label>
        <input id="need-type" [(ngModel)]="need.type" placeholder="type">
    </div>

</div>
<button type="button" (click)="goBack()">go back</button>
<button type="button" (click)="save()">save</button>

<app-messages></app-messages>
